@import "components/variables";
footer{
    text-align: center;
    color: white;
    min-height: 70px;
    background-color: $color-footerP;
    background-image: -moz-linear-gradient(top, $color-footerP, $color-footerS);
    background-image: -o-linear-gradient(top, $color-footerP, $color-footerS);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color-footerP), color-stop(1, $color-footerS));
    background-image: -webkit-linear-gradient($color-footerP, $color-footerS);
    background-image: linear-gradient(top, $color-footerP, $color-footerS);
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    position: relative;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
    border-top: 1px solid #222;
}